*.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00025.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00026.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00003.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00006.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00022.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00023.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00018.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00000.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00005.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00011.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00012.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00014.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00016.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00019.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00033.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00010.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00020.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00024.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00031.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00017.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00029.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00030.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00002.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00007.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00027.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00028.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00009.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00013.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00021.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00032.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00001.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00004.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00008.pcd filter=lfs diff=lfs merge=lfs -text
data/map/pointcloud_map_sf_smallportion/DuckieDowntown_00015.pcd filter=lfs diff=lfs merge=lfs -text
