<launch>

  <!-- setting path parameter -->
  <arg name="use_openmp" value="false" />
  <arg name="get_height" value="true" />

  <arg name="x" value="0.3679201" />
  <arg name="y" value="0.0" />
  <arg name="z" value="1.975314" />
  <arg name="yaw" value="0.0" />
  <arg name="pitch" value="0.0" />
  <arg name="roll" value="0.0" />
  <arg name="frame_id" value="/base_link" />
  <arg name="child_frame_id" value="/velodyne" />
  <arg name="period_in_ms" value="10" />

  <!-- Setup -->
  <!-- tf parameters for ndt_matching -->
  <param name="tf_x" value="$(arg x)" />
  <param name="tf_y" value="$(arg y)" />
  <param name="tf_z" value="$(arg z)" />
  <param name="tf_yaw" value="$(arg yaw)" />
  <param name="tf_pitch" value="$(arg pitch)" />
  <param name="tf_roll" value="$(arg roll)" />
  <param name="localizer" value="velodyne" />

  <!-- vel/pose connect -->
  <arg name="topic_twist_stamped" default="/estimate_twist" />
  <arg name="topic_pose_stamped" default="/ndt_pose" />

  <!-- static tf publisher between base_link and velodyne -->
  <include file="$(find runtime_manager)/launch_files/setup_tf.launch">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
    <arg name="pitch" value="$(arg pitch)" />
    <arg name="roll" value="$(arg roll)" />
    <arg name="frame_id" value="$(arg frame_id)" />
    <arg name="child_frame_id" value="$(arg child_frame_id)" />
    <arg name="period_in_ms" value="$(arg period_in_ms)" />
  </include>

  <!-- <include file="$(find vehicle_description)/launch/vehicle_model.launch" /> -->

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

  <!-- nmea2tfpose -->
  <!-- <include file="$(find gnss_localizer)/launch/nmea2tfpose.launch">
    <arg name="plane" value="0" />
  </include> -->

  <!-- ndt_matching -->
  <include file="$(find lidar_localizer)/launch/ndt_matching.launch">
    <arg name="get_height" value="$(arg get_height)" />
  </include>

  <!-- vel_pose_mux -->
  <include file="$(find autoware_connector)/launch/vel_pose_connect.launch">
    <arg name="topic_pose_stamped" value="$(arg topic_pose_stamped)" />
    <arg name="topic_twist_stamped" value="$(arg topic_twist_stamped)" />
  </include>

</launch>
